# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

## Data Science Tools

| Data Science Tools |
|--------------------|
| VS Code            | 
| RStudio            |
| Jupyter Notebook   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This will be a simple aritmethic operation between three numbers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

# We know that 60 min is 1 hour, so if we have 200 min We need to divide 200 by 60 to know the number of hours
200/60

3.3333333333333335

### **Objectives**
#### Popular languagues for Data Science:
* Python
* Julia
* R
* Ruby
* Go

## Author
Daniel David GÃ³mez